* { margin: 0px; padding: 0px; }
body {
	font-size: 120%;
	background: #F8F8FF;
}
.grades-header {
	margin: 50px auto 0px;
	color: white;
	background: #3B5998;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 20px 20px 20px 20px;
	padding: 20px;
	min-height: 10em;
	max-width: 81em;
	min-width: 20em;
}
form, .midterm {
	min-height: 10em;
	max-width: 81em;
	min-width: 18em;
	/*width: 40%;*/
	/*margin: 0px auto;*/
	margin: 20px 0px 0px 0px;
	padding: 20px;
	border: 3px solid #B0C4DE;
	background: white;
	border-radius: 15px; 
	color: #3B5998; 
}
.grades-group {
	margin: 10px 0px 10px 0px;
}
.grades-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.grades-group input {
	height: 30px;
	width: 96%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.subject {
	width: 96%; 
	min-height: 75px;
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #3B5998;
	color: rgb(46, 69, 117); 
	background: rgb(178, 210, 211); 
	border-radius: 10px; 
	text-align: left;
	margin-bottom: 5px;
	margin-top: 15px;
	font-size: 25px;
}
.grades-info {
	display: inline-block; 
	margin: 5px;
	background-color: white;
	text-align: center;
	padding: 5px; 
	border-radius: 21px; 
	color: #3B5998;
	min-width: 1.6em;
}

.class-info {
	min-height: 10em;
	max-width: 81em;
	min-width: 18em;
	margin: 20px 0px 0px 0px;
	padding: 20px;
	color: #3B5998; 
	background-color: rgb(206, 221, 250);
	text-align: center;
	border-radius: 15px; 
}
.subject-info {
	max-width: 81em;
	min-width: 18em;
	margin: 20px 0px 0px 0px;
	padding: 10px;
	color: white; 
	background-color: #3B5998;
	text-align: center;
	border-radius: 15px; 
}
.grades-info div {
	display: inline-block; 
	margin: 5px;
	background-color: white;
}
.grades-info:after {
	content: "";
	display: block;
	clear: both;
	background-color: white;
}

.admin_btn {
	height: 37px;
	width: 50%;
	margin: 5px 20%;
	color: white;
	padding: 1px;
	background: #3B5998;
	border-radius: 5px;
	border: 3px solid white;
	font-size: 1.2em;
	font-family: 'Lora', serif;
	max-width: 9em;
	cursor: pointer;
}

.admin_btn:hover {
	background: rgb(183, 203, 247);
	color: #3B5998;
}

#admin_btn {
	height: 37px;
	width: 45%;
	margin: 15px 2%;
	color: white;
	padding: 1px;
	background: #3B5998;
	border-radius: 5px;
	border: 3px solid white;
	font-size: 1.2em;
	font-family: 'Lora', serif;
	max-width: 9em;
	cursor: pointer;
}

#admin_btn:hover {
	background: rgb(183, 203, 247);
	color: #3B5998;
}

#change_btn {
	height: 41px;
	width: 25%;
	margin: 15px 2%;
	min-width: 7em;
	color: white;
	padding: 1px;
	background: #3B5998;
	border-radius: 5px;
	border: 3px solid white;
	font-size: 0.9em;
	font-family: 'Lora', serif;
	max-width: 9em;
	cursor: pointer;
}

#change_btn:hover {
	background: rgb(183, 203, 247);
	color: #3B5998;
}

#reg_btn {
	height: 35px;
	/*width: 80%;
	margin: 35px 10%;*/
	width: 45%;
	margin: 35px 2%;
	color: white;
	background: #3B5998;
	border: none;
	border-radius: 5px;
	font-size: 1.3em;
	font-family: 'Lora', serif;
	max-width: 9em;
	cursor: pointer;
}  

#reg_btn:hover {
	background: rgb(183, 203, 247);
	color: #3B5998;
}


